includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
		-
			message: '#Cannot access offset (.+)#'
			path: %currentWorkingDirectory%/src/Providers/McrouterServiceProvider.php
